@model PCZ.ViewModels.MessagesViewModel

@{
    ViewBag.Title = "Details";
}

<div class="div-section">

    <div class="div-section-heading"><h4>Message: </h4></div>

    <div class="row div-body">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Time Recieved</td>
                    <td>@Model.RecievedTime</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>@Model.Message</td>
                </tr>
            </table>

            @Html.ActionLink("Back to List", "Index")


        </div>
    </div>

    <div class="row div-body">
        <div class="col-sm-12">
            <form  class="Send-Email" >
                <table class="table">
                    <tr>
                        <td>Reply To Email :</td>
                        <td>
                            @Html.TextAreaFor(z => z.ReplyMessage, htmlAttributes: new { @class = "form-control ", @cols = 100, @rows = 5, @id = "mReplyMessage" } )
                            @Html.HiddenFor(y => y.Name, new { @id = "mName" })
                            @Html.HiddenFor(y => y.Email, new { @id = "mEmail" })
                            @Html.HiddenFor(y => y.RecievedTime, new { @id = "mRecievedTime" })
                            @Html.HiddenFor(y => y.Message, new { @id = "mMessage" })
                            @Html.HiddenFor(y => y.Id, new { @id = "mId" })
                            @Html.HiddenFor(z => z.ReplyMessage, new { @id = "m2ReplyMessage" })
                            <button class="btn btn-primary mt-4" style="margin-top:20px;" id="b3" type="submit">@*<i class="fa fa-edit"></i>*@ Send</button>
                        </td>
                    </tr>

                </table>
            </form>
            
        </div>
    </div>
</div>
<script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>
<script>
    document.getElementById('b3').onclick = function (e) {
        e.preventDefault();
          jQuery.ajax({
                type: "POST",
                url: '@Url.Action("ReplyToCustomer", "Messages")',
                dataType: "json",
                data: {
                    "Email": jQuery("#mEmail").val(),
                    "Name": jQuery("#mName").val(),
                    "RecievedTime": jQuery("#mRecievedTime").val(),
                    "ReplyMessage": jQuery("#mReplyMessage").val(),
                }
            })
            .done(function (data) {
                Swal.fire(
                    'Sucess!',
                    'Your message has been received!',
                    'success'
                );
                jQuery('#mReplyMessage').val('');
            })
            .fail(function () {
                alert("Sorry. Server unavailable. ");
            });
        return true;
    };

</script>
