@model PCZ.ViewModels.AdminDashboardVM

@{
    Layout = null;
}
<table class="table table-hover table-striped" style="text-align:center">
    <tr style="background-color:#3C8DBC;color:#ffffff">

        <th style="text-align:center" colspan="3">Messages</th>
    </tr>

    @foreach (var i in Model.vendors)
    {
        if (i.IsRead)
        {
            <tr style="background-color: #ffffff;color: #b2cee1">
                <td>
                    <i class="fas fa-user" style="font-size:30px;padding-top:0px"></i>
                </td>
                <td class="text ">
                    <a class="loadChat" data-value="@i.VendorID"> <span>@i.Sender (@Model.vendors.FirstOrDefault(x => x.VendorID == i.VendorID).Message) </span></a>
                    @* @Html.ActionLink(i.Sender, "LoadChat", "Dashboard", new { vid = i.VendorID }, null) <span>(@Model.vendors.FirstOrDefault(x => x.VendorID == i.VendorID).Message)</span>*@

                </td>
            </tr>
        }
        if (!i.IsRead)
        {
            <tr style="background-color: #b2cee1;color: #034878;">

                <td>
                    <i class="fas fa-user" style="font-size:30px;padding-top:0px"></i>
                </td>
                <td class="text ">
                    <a class="loadChat" data-value="@i.VendorID"> <span>@i.Sender (@Model.vendors.FirstOrDefault(x => x.VendorID == i.VendorID).Message) </span></a>

                    @*    @Html.ActionLink(i.Sender, "LoadChat", "Dashboard", new { vid = i.VendorID }, null)  <span>(@Model.vendors.FirstOrDefault(x => x.VendorID == i.VendorID).Message)</span>*@
                </td>
            </tr>
        }
    }
</table>

<script>

        $(".loadChat").click(function () {

            let vendorId = $(this).data("value");

               $.ajax({
                   type: "GET",
                   url: `LoadChat?vid=${vendorId}`,
                data: null,
                   success: function (e) {
                    $('#chatBoxView').html(e);
                    msgerChat.scrollTop = msgerChat.scrollHeight;
                   },
                   error: function (e) { console.log("nope" + e); }
            })
        });
    </script>